{% extends 'pro_base.html' %}
{% block content %}
 <!--=================================
      Banner -->
      <section class="banner-02">
        <div id="main-slider" class="swiper-container">
          <div class="slider-social">
            <div class="container">
              <div class="slider-social-info">
                <ul class="list-unstyled mb-0">
                  <li><a href="#"> <i class="fa-brands fa-dribbble"></i> </a></li>
                  <li><a href="#"> <i class="fab fa-linkedin-in"></i> </a></li>
                  <li><a href="#"> <i class="fab fa-twitter"></i> </a></li>
                  <li><a href="#"> <i class="fab fa-facebook-f"></i></a></li>
                  <li><span>Share</span></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="swiper-wrapper">
            <div class="swiper-slide align-items-center d-flex slide-01 bg-overlay-black-2 header-position" style="background-image: url(../static/images/slider/home-2/01.jpg); background-repeat: no-repeat; background-size: cover; background-position: center;">
              <div class="container">
                <div class="row justify-content-end">
                  <div class="col-lg-12 position-relative">
                    <h1 class="text-white title text-uppercase" data-swiper-animation="fadeInUp" data-duration="1.0s" data-delay="1.0s">Traveling</h1>
                    <p class="text-white" data-swiper-animation="fadeInUp" data-duration="1.5s" data-delay="1.0s">Exclusive Holidays For The Single Traveler.</p>
                    <a href="#" class="btn btn-primary" data-swiper-animation="fadeInUp" data-duration="1.5s" data-delay="1.0s">Read More</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide align-items-center d-flex slide-02 bg-overlay-black-4 header-position" style="background-image: url(../static/images/slider/home-2/02.jpg); background-repeat: no-repeat; background-size: cover; background-position: center;">
              <div class="container">
                <div class="row">
                  <div class="col-lg-12 position-relative text-center">
                    <h1 class="text-white title text-uppercase" data-swiper-animation="fadeInUp" data-duration="1.0s" data-delay="1.0s">Go Anywhere</h1>
                    <p class="text-white" data-swiper-animation="fadeInUp" data-duration="1.5s" data-delay="1.0s">Traveling made it as easy as a walk in the park!</p>
                    <a href="#" class="btn btn-primary" data-swiper-animation="fadeInUp" data-duration="1.5s" data-delay="1.0s">Read More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--=================================
      Banner -->
      <!--=================================
      Destination Form -->
      <section class="py-5 bg-secondary home-search-02">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <div>
                 <input type="search" name="" class=""><a class="btn btn-primary" href="#"> Search </a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--=================================
      Destination Form -->
      <!--=================================
      Destination -->

        <section class="space-ptb perfect-tour bg-holder nav-arrow-top" style="background-image: url(../static/images/bg/03.png);">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
              <div class="section-title">
                <div class="sub-title ">
                  <img  class="img-fluid" src="../static/images/title-icon.png" alt="#">
                  <span>Beautiful places await</span>
                </div>
                <h2 class="title">Great Journeys <strong>Fascinating Places</strong></h2>
                <p class="mb-0">Can the particular activity be done later? Defer it!</p>
              </div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row mt-5">
              <div class="col-lg-12 position-relative">
                <div class="slider">
                  <div class="owl-carousel owl-nav-bottom-center" data-nav-dots="false" data-nav-arrow="true" data-items="4" data-xl-items="4" data-lg-items="4" data-md-items="3" data-sm-items="2" data-xs-items="1"  data-space="30" data-autoheight="true">
                    <div class="item">
                      <div class="listing-item">
                        <div class="listing-image bg-overlay-half-bottom">
                          <img class="img-fluid" src="images/listing/01.jpg" alt="#">
                          <div class="listing-favourite">
                            <i class="fa-regular fa-heart"></i>
                          </div>
                        </div>
                        <div class="listing-details">
                          <div class="listing-title d-flex justify-content-between">
                            <h5 class="mb-0"><a href="tour-detail.html" class="title mb-0">Tokyo</a></h5>
                            <div class="country-flags">
                              <img class="img-fluid shadow-sm" src="images/country-flags/01.jpg" alt="#">
                            </div>
                          </div>
                          <a href="#" class="listing-loaction"><i class="fa fa-location-dot"></i>  17-4, Kaminarimon 2-chome, Taito-ku, Tokyo  </a>
                          <div class="listing-rating d-flex justify-content-between">
                            <div class="d-flex">
                              <div class="date me-3">
                                <i class="fa-regular fa-calendar-days me-2"></i><span> Day </span>
                              </div>
                              <div class="rating">
                                <i class="fa-solid fa-star me-1 text-yellow"></i><span>4.0 / 5</span>
                              </div>
                            </div>
                            <div class="price">
                              <span class="text-decoration-line-through">$899</span>$700
                            </div>
                          </div>
                          <div class="listing-info">
                            <img class="img-fluid" src="images/listing-brand/01.png" alt="">
                            <p class="mb-0">The price is something not necessarily defined as financial.</p>
                          </div>
                          <a href="tour-detail.html" class="btn btn-link">See Details</a>
                        </div>
                      </div>
                    </div>
                    <div class="item">
                      <div class="listing-item">
                        <div class="listing-image bg-overlay-half-bottom">
                          <img class="img-fluid" src="images/listing/02.jpg" alt="#">
                          <div class="listing-favourite">
                            <i class="fa-regular fa-heart"></i>
                          </div>
                        </div>
                        <div class="listing-details">
                          <div class="listing-title d-flex justify-content-between">
                            <h5 class="mb-0"><a href="tour-detail.html" class="title mb-0">United Kingdom</a></h5>
                            <div class="country-flags">
                              <img class="img-fluid shadow-sm" src="images/country-flags/02.jpg" alt="#">
                            </div>
                          </div>
                          <a href="#" class="listing-loaction"><i class="fa fa-location-dot"></i>  19 The Lindens,Grantham,England United Kingdom  </a>
                          <div class="listing-rating d-flex justify-content-between">
                            <div class="d-flex">
                              <div class="date me-3">
                                <i class="fa-regular fa-calendar-days me-2"></i><span> Day </span>
                              </div>
                              <div class="rating">
                                <i class="fa-solid fa-star me-1 text-yellow"></i><span>4.9 / 5</span>
                              </div>
                            </div>
                            <div class="price">
                              <span class="text-decoration-line-through"></span>$500
                            </div>
                          </div>
                          <div class="listing-info">
                            <img class="img-fluid" src="images/listing-brand/02.png" alt="">
                            <p class="mb-0">The bottom line is that we must shed the bad and replace with good beliefs.</p>
                          </div>
                          <a href="tour-detail.html" class="btn btn-link">See Details</a>
                        </div>
                      </div>
                    </div>
                    <div class="item">
                      <div class="listing-item">
                        <div class="listing-image bg-overlay-half-bottom">
                          <img class="img-fluid" src="images/listing/03.jpg" alt="#">
                          <div class="listing-favourite listing-like">
                            <i class="fa-solid fa-heart"></i>
                          </div>
                        </div>
                        <div class="listing-details">
                          <div class="listing-title d-flex justify-content-between">
                            <h5 class="mb-0"><a href="tour-detail.html" class="title mb-0">Rio</a></h5>
                            <div class="country-flags">
                              <img class="img-fluid shadow-sm" src="images/country-flags/03.jpg" alt="#">
                            </div>
                          </div>
                          <a href="#" class="listing-loaction"><i class="fa fa-location-dot"></i>  Rua americo Piola,13- Horto Santo Antonio,Rio de Janeiro SP Brasil  </a>
                          <div class="listing-rating d-flex justify-content-between">
                            <div class="d-flex">
                              <div class="date me-3">
                                <i class="fa-regular fa-calendar-days me-2"></i><span> Day </span>
                              </div>
                              <div class="rating">
                                <i class="fa-solid fa-star me-1 text-yellow"></i><span>4.7 / 5</span>
                              </div>
                            </div>
                            <div class="price">
                              <span class="text-decoration-line-through">$399</span>$350
                            </div>
                          </div>
                          <div class="listing-info">
                            <img class="img-fluid" src="images/listing-brand/03.png" alt="">
                            <p class="mb-0">The price is something not necessarily defined as financial.</p>
                          </div>
                          <a href="tour-detail.html" class="btn btn-link">See Details</a>
                        </div>
                      </div>
                    </div>
                    <div class="item">
                      <div class="listing-item">
                        <div class="listing-image bg-overlay-half-bottom">
                          <img class="img-fluid" src="images/listing/04.jpg" alt="#">
                          <div class="listing-favourite">
                            <i class="fa-regular fa-heart"></i>
                          </div>
                        </div>
                        <div class="listing-details">
                          <div class="listing-title d-flex justify-content-between">
                            <h5 class="mb-0"><a href="tour-detail.html" class="title mb-0">Marsella</a></h5>
                            <div class="country-flags">
                              <img class="img-fluid shadow-sm" src="images/country-flags/04.jpg" alt="#">
                            </div>
                          </div>
                          <a href="#" class="listing-loaction"><i class="fa fa-location-dot"></i>   25 Place De L Eglise,Marseille, France   </a>
                          <div class="listing-rating d-flex justify-content-between">
                            <div class="d-flex">
                              <div class="date me-3">
                                <i class="fa-regular fa-calendar-days me-2"></i><span> Day </span>
                              </div>
                              <div class="rating">
                                <i class="fa-solid fa-star me-1 text-yellow"></i><span>4.3 / 5</span>
                              </div>
                            </div>
                            <div class="price">
                              <span class="text-decoration-line-through"></span>$600
                            </div>
                          </div>
                          <div class="listing-info">
                            <img class="img-fluid" src="images/listing-brand/03.png" alt="">
                            <p class="mb-0">We all carry a lot of baggage, thanks to our upbringing.</p>
                          </div>
                          <a href="tour-detail.html" class="btn btn-link">See Details</a>
                        </div>
                      </div>
                    </div>
                    <div class="item">
                      <div class="listing-item">
                        <div class="listing-image bg-overlay-half-bottom">
                          <img class="img-fluid" src="images/listing/05.jpg" alt="#">
                          <div class="listing-favourite">
                            <i class="fa-regular fa-heart"></i>
                          </div>
                        </div>
                        <div class="listing-details">
                          <div class="listing-title d-flex justify-content-between">
                            <h5 class="mb-0"><a href="tour-detail.html" class="title mb-0">United Kingdom</a></h5>
                            <div class="country-flags">
                              <img class="img-fluid shadow-sm" src="images/country-flags/05.jpg" alt="#">
                            </div>
                          </div>
                          <a href="#" class="listing-loaction"><i class="fa fa-location-dot"></i> 19 The Lindens,Grantham,England United Kingdom </a>
                          <div class="listing-rating d-flex justify-content-between">
                            <div class="d-flex">
                              <div class="date me-3">
                                <i class="fa-regular fa-calendar-days me-2"></i><span> Day </span>
                              </div>
                              <div class="rating">
                                <i class="fa-solid fa-star me-1 text-yellow"></i><span>4.9 / 5</span>
                              </div>
                            </div>
                            <div class="price">
                              <span class="text-decoration-line-through">$899</span>$700
                            </div>
                          </div>
                          <div class="listing-info">
                            <img class="img-fluid" src="images/listing-brand/02.png" alt="">
                            <p class="mb-0">The bottom line is that we must shed the bad and replace with good beliefs.</p>
                          </div>
                          <a href="tour-detail.html" class="btn btn-link">See Details</a>
                        </div>
                      </div>
                    </div>
                    <div class="item">
                      <div class="listing-item">
                        <div class="listing-image bg-overlay-half-bottom">
                          <img class="img-fluid" src="images/listing/03.jpg" alt="#">
                          <div class="listing-favourite listing-like">
                            <i class="fa-solid fa-heart"></i>
                          </div>
                        </div>
                        <div class="listing-details">
                          <div class="listing-title d-flex justify-content-between">
                            <h5 class="mb-0"><a href="tour-detail.html" class="title mb-0">Rio</a></h5>
                            <div class="country-flags">
                              <img class="img-fluid shadow-sm" src="images/country-flags/03.jpg" alt="#">
                            </div>
                          </div>
                          <a href="#" class="listing-loaction"><i class="fa fa-location-dot"></i> Rua americo Piola,13- Horto Santo Antonio,Rio de Janeiro SP Brasil </a>
                          <div class="listing-rating d-flex justify-content-between">
                            <div class="d-flex">
                              <div class="date me-3">
                                <i class="fa-regular fa-calendar-days me-2"></i><span> Day </span>
                              </div>
                              <div class="rating">
                                <i class="fa-solid fa-star me-1 text-yellow"></i><span>4.7 / 5</span>
                              </div>
                            </div>
                            <div class="price">
                              <span class="text-decoration-line-through">$399</span>$350
                            </div>
                          </div>
                          <div class="listing-info">
                            <img class="img-fluid" src="images/listing-brand/03.png" alt="">
                            <p class="mb-0">The price is something not necessarily defined as financial.</p>
                          </div>
                          <a href="tour-detail.html" class="btn btn-link">See Details</a>
                        </div>
                      </div>
                    </div>
                    <div class="item">
                      <div class="listing-item">
                        <div class="listing-image bg-overlay-half-bottom">
                          <img class="img-fluid" src="images/listing/04.jpg" alt="#">
                          <div class="listing-favourite">
                            <i class="fa-regular fa-heart"></i>
                          </div>
                        </div>
                        <div class="listing-details">
                          <div class="listing-title d-flex justify-content-between">
                            <h5 class="mb-0"><a href="tour-detail.html" class="title mb-0">Marsella</a></h5>
                            <div class="country-flags">
                              <img class="img-fluid shadow-sm" src="images/country-flags/04.jpg" alt="#">
                            </div>
                          </div>
                          <a href="#" class="listing-loaction"><i class="fa fa-location-dot"></i>  25 Place De L Eglise,Marseille, France  </a>
                          <div class="listing-rating d-flex justify-content-between">
                            <div class="d-flex">
                              <div class="date me-3">
                                <i class="fa-regular fa-calendar-days me-2"></i><span> Day </span>
                              </div>
                              <div class="rating">
                                <i class="fa-solid fa-star me-1 text-yellow"></i><span>4.3 / 5</span>
                              </div>
                            </div>
                            <div class="price">
                              <span class="text-decoration-line-through"></span>$600
                            </div>
                          </div>
                          <div class="listing-info">
                            <img class="img-fluid" src="images/listing-brand/03.png" alt="">
                            <p class="mb-0">We all carry a lot of baggage, thanks to our upbringing.</p>
                          </div>
                          <a href="tour-detail.html" class="btn btn-link">See Details</a>
                        </div>
                      </div>
                    </div>
                    <div class="item">
                      <div class="listing-item">
                        <div class="listing-image bg-overlay-half-bottom">
                          <img class="img-fluid" src="images/listing/05.jpg" alt="#">
                          <div class="listing-favourite">
                            <i class="fa-regular fa-heart"></i>
                          </div>
                        </div>
                        <div class="listing-details">
                          <div class="listing-title d-flex justify-content-between">
                            <h5 class="mb-0"><a href="tour-detail.html" class="title mb-0">United Kingdom</a></h5>
                            <div class="country-flags">
                              <img class="img-fluid shadow-sm" src="images/country-flags/05.jpg" alt="#">
                            </div>
                          </div>
                          <a href="#" class="listing-loaction"><i class="fa fa-location-dot"></i> 19 The Lindens,Grantham,England United Kingdom </a>
                          <div class="listing-rating d-flex justify-content-between">
                            <div class="d-flex">
                              <div class="date me-3">
                                <i class="fa-regular fa-calendar-days me-2"></i><span> Day </span>
                              </div>
                              <div class="rating">
                                <i class="fa-solid fa-star me-1 text-yellow"></i><span>4.9 / 5</span>
                              </div>
                            </div>
                            <div class="price">
                              <span class="text-decoration-line-through">$899</span>$700
                            </div>
                          </div>
                          <div class="listing-info">
                            <img class="img-fluid" src="images/listing-brand/02.png" alt="">
                            <p class="mb-0">The bottom line is that we must shed the bad and replace with good beliefs.</p>
                          </div>
                          <a href="tour-detail.html" class="btn btn-link">See Details</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
{% endblock %}