{% extends 'pro_base.html' %}
{% block content %}

<style type="text/css">
  .search-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .search-div button {
    border: 0;
    padding: 12px;
    margin-left: 10px;
    border-radius: 6px;
    background: whitesmoke;
    border-color: black;
  }
</style>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Ciyatrip - Tour & Travel Hotel Booking HTML Template" />
    <meta name="author" content="potenzaglobalsolutions.com" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico" />
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap" rel="stylesheet">

<!-- CSS Global Compulsory (Do not remove)-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome/all.min.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css') }}" />
<!-- Page CSS Implementing Plugins (Remove the plugin CSS here if site does not use that feature)-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/select2/select2.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/datetimepicker/datetimepicker.min.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/owl-carousel/owl.carousel.min.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/animate/animate.min.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/swiper/swiper.min.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/range-slider/ion.rangeSlider.css') }}" />

    <!-- Template Style -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />

    <style type="text/css">
      #bg-change {
        background-image: url("{{ url_for('static', filename='images/bg/03.png') }}");
    }
      }
    </style>
  </head>
  <body>    
      <!--=================================
      Banner -->
      <section class="banner-02">
        <div id="main-slider" class="swiper-container">
          <div class="slider-social">
            <div class="container">
              <div class="slider-social-info">
  
              </div>
            </div>
          </div>
          <div class="swiper-wrapper">
            <div class="swiper-slide align-items-center d-flex slide-01 bg-overlay-black-2 header-position" style="background-image: url(../static/images/slider/home-2/01.jpg); background-repeat: no-repeat; background-size: cover; background-position: center;">
              <div class="container">
                <div class="row justify-content-end">
                  <div class="col-lg-12 position-relative">
                    <h1 class="text-white title text-uppercase" data-swiper-animation="fadeInUp" data-duration="1.0s" data-delay="1.0s">{{session['prousercompany']}}</h1>
                    <!-- -->
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide align-items-center d-flex slide-02 bg-overlay-black-4 header-position" style="background-image: url(../images/slider/home-2/02.jpg); background-repeat: no-repeat; background-size: cover; background-position: center;">
              <div class="container">
                <div class="row">
                  <div class="col-lg-12 position-relative text-center">
                    <h1 class="text-white title text-uppercase" data-swiper-animation="fadeInUp" data-duration="1.0s" data-delay="1.0s">Go Anywhere</h1>
                    <p class="text-white" data-swiper-animation="fadeInUp" data-duration="1.5s" data-delay="1.0s">Traveling made it as easy as a walk in the park!</p>
                    <a href="#" class="btn btn-primary" data-swiper-animation="fadeInUp" data-duration="1.5s" data-delay="1.0s">Read More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--=================================
      Banner -->
      <!--=================================
      Destination Form -->
      <section class="py-5 bg-secondary home-search-02">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              {% for row in unwatched %}
                <div class="tab-pane active">
                  <a href="{{ url_for('pro_tour_booking_details', booking_id=row[1])}}">Click to see details</a>
                    <div class="alert alert-warning alert-dismissible fade show" role="alert" id="notifcation-box" style="height: 10vh !important;">
                      <strong>Booking request:</strong> You have new booking for <b>{{ row[0] }}</b> Package <a href="{{ url_for('booking_mark_as_read', booking_id=row[1])}}" class="">(Mark as Read)</a><br><br>
                    </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </section>

      <div style="display: flex;justify-content: center;
            align-content: center; padding: 50px;">
        <div>
          {% if not matching_tournames %}
            <h5>No Tours Today</h5>
          {% else %}
          <h4>Today Tour Lists</h4>
          <ul>
            {% for row in matching_tournames %}
                <a href="{{ url_for('travalers_list', package_id=row[0] ) }}"><li>{{row[2]}}</li></a>
            {% endfor %}
          </ul>
          {% endif %}
          <br>

          {% if noti_count or noti_count1 %}
          <a class="list-group-item list-group-item-action  {% if 'pro_notifications' in request.url_rule.endpoint %}active{% endif %}" data-section="password" href="{{ url_for('pro_notifications')}}" role="tab">Notifications <b>({{ noti_count[0] + noti_count1[0] }})</b></a>
          {% endif %}
        </div>
      </div>


      <section style="margin-top: 60px;">
        <div style="display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-content: center;
                justify-content: center;">
          <div>
             <form action="{{ url_for('provider_searching') }}" method="POST">
                  <div class="search-div">
                      <div>
                          <input type="text" class="form-control" placeholder="Search booking id . . . ." style="border-color: black;" name="search_value" required>
                          </div>
                          <div>
                            <button type="submit" name="" ><i class="fas fa-search"></i></button>
                          </div> 
                    </div>                     
              </form>
          </div>
        </div>
      </section>

       <section class="space-ptb">
        <div class="container">
          <div class="row justify-content-center">
 
          </div>
          <div class="row">
            <center><h4>OUT DATED PACKAGES</h4></center>
            {% for row in tour_packages_data_out_dated %}
            <div class="col-lg-4 col-md-6 mb-4 ">
              <div class="listing-item">
                <div class="listing-image bg-overlay-half-bottom">
                  <!-- <img class="img-fluid" src="{{ url_for('static', filename=row[10]) }}" alt="{{row[10]}}" style="width: 100%; height: 250px;"> -->
                </div>
                <div class="listing-details">
                  <div class="listing-title d-flex justify-content-between">
                    {% if row[4] < (session['todate']) %}
                    <h5 class="mb-0">{{ row[2] }} </h5> <a style="color: red;" href="{{ url_for('pro_tour_package_edit', package_id=row[0]) }}">(Update Date)</a>
                    
                    {% else %}
                    <h5 class="mb-0"><a href="{{ url_for('pro_tour_package_details', package_id=row[0]) }}" class="title mb-0">{{ row[2] }}</a></h5>
                    {% endif %}
                    <div class="country-flags">
                      <!-- <img class="img-fluid shadow-sm" src="images/country-flags/01.jpg" alt="#"> -->
                    </div>
                  </div>
                  <a href="#" class="listing-loaction"> <i class="fa fa-location-dot"></i>{{row[8]}}, {{row[9]}}</a>
                  <div class="listing-rating d-flex justify-content-between">
                    <div class="d-flex">
                      <div class="date me-3">
                        <i class="fa-regular fa-calendar-days me-2"></i><span> {{ row[4] }} </span>
                      </div>
                      <div class="rating">
                        {% if row[11] %}
                        {{ row[11]|round(1) }}
                        {% endif %}

                      </div>
                    </div>
                    <div class="price">
                      <span class="text-decoration-line-through">{{ row[6]|int + 200 }}</span>{{ row[6] }}
                    </div>
                  </div>
                  <div class="listing-info">
                    
                    <p class="mb-0" style="text-transform: capitalize;">{{row[7]}}</p>
                  </div>
                  {% if row[4] < session['todate'] %}
                    <a class="btn btn-link" href="{{ url_for('pro_tour_package_details', package_id=row[0]) }}">See Details</a>
                  {% else %}
                    <a href="{{ url_for('pro_tour_package_details', package_id=row[0]) }}" class="btn btn-link">See Details</a>
                  {% endif %}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
    </section>


      <!--=================================
      Destination Form -->
      <!--=================================
      Destination -->
      <section class="space-ptb perfect-tour bg-holder nav-arrow-top" style="background-image: url(.../images/bg/03.png);" id="bg-change">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="section-title">
                <div class="sub-title ">
                  <img  class="img-fluid" src=" {{ url_for('static', filename='images/title-icon.png')}} " alt="#">
                  <span>COMPANY: {{session['prousercompany']}}</span>
                </div>
                <h2 class="title">Your Tour <strong>Packages</strong></h2>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row mt-5">
            <div class="col-lg-12 position-relative">
              <div class="slider">
                <div class="owl-carousel owl-nav-bottom-center" data-nav-dots="false" data-nav-arrow="true" data-items="4" data-xl-items="4" data-lg-items="4" data-md-items="3" data-sm-items="2" data-xs-items="1"  data-space="30" data-autoheight="true">

                  {% for row in tour_packages_data %}
                  <div class="item">
                    <div class="listing-item">
                      <div class="listing-image bg-overlay-half-bottom">
                        <img class="img-fluid" src="{{ url_for('static', filename=row[10]) }}" alt="#" style="width: 100%; height: 250px; object-fit: cover;">
                        <div class="listing-favourite">
                        </div>
                      </div>
                      <div class="listing-details">
                        <div class="listing-title d-flex justify-content-between">
                          {% if row[4] < (session['todate']) %}
                          <h5 class="mb-0">{{ row[2] }} </h5> <a style="color: red;" href="{{ url_for('pro_tour_package_edit', package_id=row[0]) }}">(Update Date)</a>
                          
                          {% else %}
                          <h5 class="mb-0"><a href="{{ url_for('pro_tour_package_details', package_id=row[0]) }}" class="title mb-0">{{ row[2] }}</a></h5>
                          {% endif %}
                          <div class="country-flags">
                            <img class="img-fluid shadow-sm" src="" alt="">
                          </div>
                        </div>
                        <a href="#" class="listing-loaction"><i class="fa fa-location-dot"></i> {{row[8]}}, {{row[9]}}</a>
                        <div class="listing-rating d-flex justify-content-between">
                          <div class="d-flex">
                            <div class="date me-3">
                              <i class="fa-regular fa-calendar-days me-2"></i><span>  Days {{ row[3] }}  </span>
                            </div>
                            <div class="rating">
                              <i class="fa-solid fa-star me-1 text-yellow"></i><span>{{ row[4] }}</span>
                            </div>
                          </div>
                          <div class="price">
                            <span class="text-decoration-line-through">{{ row[6]|int - 200 }}</span>{{ row[6] }}
                          </div>
                        </div>
                        <div class="listing-info">
                          <img class="img-fluid" src="{{ url_for('static', filename='images/listing-brand/01.png')}}" alt="">
                          <p class="mb-0" style="text-transform: capitalize; height: 10vh; overflow: hidden;">{{row[7]}}</p>
                        </div>
                        {% if row[4] < session['todate'] %}
                         <p class="btn btn-link">See Details</a>
                        {% else %}
                          <a href="{{ url_for('pro_tour_package_details', package_id=row[0]) }}" class="btn btn-link">See Details</a>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                  {% endfor %}

                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--=================================
      Destination -->
      <!--=================================
      Destination -->
<!--       <section>
        <div class="container-fluid p-0">
          <div class="row g-0">

            <div class="col-sm-4 col-xl-3">
              <div class="destination-trips-item masonry-item">
                <div class="trips-img">
                  <img class="img-fluid" src="{{ url_for('static', filename='images/destination/12.jpg') }}" alt="#">
                  <div class="trips-content">
                    <h4 class="mb-0"><a class="trips-title" href="tour-detail.html">Switzerland Snow Bord</a></h4>
                    <a class="trips-info" href="#">30 Trips</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-8 col-xl-6">
              <div class="row g-0">
                <div class="col-sm-5">
                  <div class="destination-trips-item masonry-item">
                    <div class="trips-img">
                      <img class="img-fluid" src="{{ url_for('static', filename='images/destination/08.jpg') }}" alt="#">
                      <div class="trips-content">
                        <h4 class="mb-0"><a class="trips-title" href="tour-detail.html">Tracking</a></h4>
                        <a class="trips-info" href="#">25 Trips</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-7">
                  <div class="destination-trips-item masonry-item">
                    <div class="trips-img">
                      <img class="img-fluid" src="{{ url_for('static', filename='images/destination/09.jpg') }}" alt="#">
                      <div class="trips-content">
                        <h4 class="mb-0"><a class="trips-title" href="tour-detail.html">Scuba Diving</a></h4>
                        <a class="trips-info" href="#">40 Trips</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row g-0">
                <div class="col-sm-7">
                  <div class="destination-trips-item masonry-item">
                    <div class="trips-img">
                      <img class="img-fluid" src="{{ url_for('static', filename='images/destination/10.jpg') }}" alt="#">
                      <div class="trips-content">
                        <h4 class="mb-0"><a class="trips-title" href="tour-detail.html">Tracking</a></h4>
                        <a class="trips-info" href="#">25 Trips</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-5">
                  <div class="destination-trips-item masonry-item">
                    <div class="trips-img">
                      <img class="img-fluid" src="{{ url_for('static', filename='images/destination/11.jpg') }}" alt="#">
                      <div class="trips-content">
                        <h4 class="mb-0"><a class="trips-title" href="tour-detail.html">Balloon marrakech</a></h4>
                        <a class="trips-info" href="#">28 Trips</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3">
              <div class="upcomming-plan h-100 bg-holder" style="background-image: url(./images/blog/06.jpg);">
                <div class="upcomming h-100">
                  <div class="upcomming-info text-center h-100 d-flex justify-content-center">
                    <div class="align-self-center">
                      <img class="img-fluid" src="{{ url_for('static', filename='images/logo-dark.svg') }}" alt="#">
                      <h3 class="fw-bold my-4">Upcoming Holiday Tour Plan</h3>
                      <div class="countdown-2">
                        <div class="countdown">
                          <span class="theme-color days">00</span>
                          <p class="days_ref">Days</p>
                        </div>
                        <div class="countdown">
                          <span class="theme-color hours">00</span>
                          <p class="hours_ref">Hours</p>
                        </div>
                        <div class="countdown">
                          <span class="theme-color minutes">00</span>
                          <p class="minutes_ref">Minutes</p>
                        </div>
                        <div class="countdown">
                          <span class="theme-color seconds">00</span>
                          <p class="seconds_ref">Seconds</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section> -->
    <!--=================================
    Destination -->
    <!--=================================
    client -->
    <section class="client-logo">
      <div class="container-fluid">
        <div class="row ">
          <div class="col-md-12">
            <div class="owl-carousel owl-nav-bottom-center" data-nav-dots="false" data-nav-arrow="false" data-items="6" data-lg-items="4" data-md-items="2" data-sm-items="1"  data-space="30" data-autoheight="true">
              <div class="item text-center">
                  <a href="#"><img class="img-fluid" src="{{ url_for('static', filename='images/client-logo/01.png') }}" alt="#"></a>
              </div>
              <div class="item text-center">
                  <a href="#"><img class="img-fluid" src="{{ url_for('static', filename='images/client-logo/02.png') }}" alt="#"></a>
              </div>
              <div class="item text-center">
                  <a href="#"><img class="img-fluid" src="{{ url_for('static', filename='images/client-logo/03.png') }}" alt="#"></a>
              </div>
              <div class="item text-center">
                  <a href="#"><img class="img-fluid" src="{{ url_for('static', filename='images/client-logo/04.png') }}" alt="#"></a>
              </div>
              <div class="item text-center">
                  <a href="#"><img class="img-fluid" src="{{ url_for('static', filename='images/client-logo/05.png') }}" alt="#"></a>
              </div>
              <div class="item text-center">
                  <a href="#"><img class="img-fluid" src="{{ url_for('static', filename='images/client-logo/06.png') }}" alt="#"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--=================================
    client -->
  <!--=================================
  Feature Categories -->
 
  <!--=================================
  Feature Categories -->
  <!--=================================
  instagram -->
  <!-- <section class="">
    <div class="container-fluid p-0">
      <div class="row g-0">
        <div class="col-xl-2 col-lg-3">
          <div class="instagram text-center bg-primary h-100 d-flex p-5 p-lg-4 align-items-center justify-content-center">
            <div class="instagram-icon">
              <i class="fa-brands fa-instagram text-white"></i>
              <h6 class="text-white fw-medium mb-2 mt-3">Find us in the wild</h6>
              <a class="text-white fw-bold" href="#">@Ciyatrip</a>
            </div>
          </div>
        </div>
            <div class="col-xl-10 col-lg-9 h-100">
              <div class="owl-carousel" data-nav-dots="false" data-nav-arrow="false" data-items="5" data-lg-items="4" data-md-items="3" data-sm-items="2" data-space="0" data-autoheight="true">
                <div class="item text-center">
                  <a href="#"><img class="img-fluid" src="{{ url_for('static', filename='images/instagram/01.jpg') }}" alt="#"></a>
                </div>
                <div class="item text-center">
                  <a href="#"><img class="img-fluid" src="{{ url_for('static', filename='images/instagram/02.jpg') }}" alt="#"></a>
                </div>
                <div class="item text-center">
                  <a href="#"><img class="img-fluid" src="{{ url_for('static', filename='images/instagram/03.jpg') }}" alt="#"></a>
                </div>
                <div class="item text-center">
                  <a href="#"><img class="img-fluid" src="{{ url_for('static', filename='images/instagram/04.jpg') }}" alt="#"></a>
                </div>
                <div class="item text-center">
                  <a href="#"><img class="img-fluid" src="{{ url_for('static', filename='images/instagram/05.jpg') }}" alt="#"></a>
                </div>
                <div class="item text-center">
                  <a href="#"><img class="img-fluid" src="{{ url_for('static', filename='images/instagram/06.jpg') }}" alt="#"></a>
                </div>
              </div>
            </div>

      </div>
    </div>
  </section> -->
  <!--=================================
  instagram -->
  <!--=================================
  footer-->
  <!-- <footer class="footer footer-style-02 bg-secondary">
    <div class="pt-5">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <div class="footer-logo">
               <img class="img-fluid pb-3 pb-md-4" src="../images/logo-light.svg" alt="#">
            </div>
            <div class="footer-menu">
              <ul>
                <li><a href="#">FAQs</a></li>
                <li><a href="#">Pricing & Plan</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
            <hr class="my-3">
            <div class="footer-menu">
              <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Tours</a></li>
                <li><a href="#">Destinations</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Shop</a></li>
              </ul>
            </div>
            <div class="social-icon social-rounded mt-3">
              <ul>
                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom pt-4 pb-5">
      <div class="container">
        <div class="row align-items-center copyright">
          <div class="col-12 col-lg-6 text-center text-lg-start mb-3 mb-lg-0">
            <p class="text-white"><a class="me-3" href="terms-and-conditions.html"> Term & Conditions</a> <a href="privacy-policy.html"> Privacy Policy</a></p>
          </div>
          <div class="col-12 col-lg-6 text-center text-lg-end">
            <p class="mb-0 text-white"> &copy; Copyright <span id="copyright"> <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script></span> <a href="index.html"> Ciyatrip </a> All Rights Reserved</p>
          </div>
        </div>
      </div>
    </div>
  </footer> -->
  <!--=================================
  footer-->
  <!--=================================
  Back To Top-->
  <div id="back-to-top" class="back-to-top">
    <a href="#"><i class="fas fa-angle-up"></i></a>
  </div>
  <!--=================================
  Back To Top-->
  <!--=================================
  Javascript -->
<!-- JS Global Compulsory (Do not remove)-->
<script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.appear.js') }}"></script>
<script src="{{ url_for('static', filename='js/popper/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap/bootstrap.min.js') }}"></script>
<!-- Page JS Implementing Plugins (Remove the plugin script here if site does not use that feature)-->
<script src="{{ url_for('static', filename='js/datetimepicker/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/datetimepicker/datetimepicker.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/owl-carousel/owl.carousel.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/swiper/swiper.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/select2/select2.full.js') }}"></script>
<script src="{{ url_for('static', filename='js/swiperanimation/SwiperAnimation.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/range-slider/ion.rangeSlider.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/countdown/jquery.downCount.js') }}"></script>
<!-- Template Scripts (Do not remove)-->
<script src="{{ url_for('static', filename='js/custom.js') }}"></script>

</body>
</html>



{% endblock %}