<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="keywords" content="HTML5 Template" />
        <meta name="description" content="Ciyatrip - Tour & Travel Hotel Booking HTML Template" />
        <meta name="author" content="potenzaglobalsolutions.com" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Login</title>
        <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap" rel="stylesheet">

    <!-- CSS Global Compulsory (Do not remove)-->

    <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome/all.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css') }}" />
    <!-- Page CSS Implementing Plugins (Remove the plugin CSS here if site does not use that feature)-->


  <!-- Internal CSS -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

    <!-- Internal js -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        </head>
        <body>
        <!--=================================
        Header -->
        <header class="header header-transparent-2 sign-header">
          <div class="container-fluid">
            <div class="row align-items-center justify-content-end">
              <div class="col-lg-12">
                <a class="navbar-brand" href="">
                  <img class="img-fluid" src="{{ url_for('static', filename='images/mainlogo.png') }}" alt="logo">
                </a>
              </div>
              </div>
            </div>
       </header>
        <!--=================================
        Header -->

       <!--=================================
        sign in -->
          <section class="sign-in bg-holder vh-100">
            <div class="container-fluid">
              <div class="row justify-content-between vh-100">
                <div class="col-lg-12 col-xl-4 g-0">
                  <div class="sign-in-bg h-100 px-5 py-5 align-items-center justify-content-center d-flex text-center"  style="background-image: url(./static/images/error/01.png);">
                   <div class="sing-title">
                      <h1 class="text-white mb-0">Hello, Partner!</h1>
                      <p class="text-white">Enter your Company details and start journey with us</p>
                      <a href="{{ url_for('pro_signup_verification') }}" class="btn btn-primary">Sign Up</a>
                   </div>
                  </div>
                </div>
                <div class="col-lg-12 col-xl-7 align-self-center">
                  <div class="sign-in-content h-100">
                   <div class="section-title text-center">
                    <h2 class="primary-text">Sign in Account</h2>
                   </div>

                      <form class="row mt-4 mb-4 mb-sm-5 align-items-center form-flat-style login-form" method="POST">
                        <div class="mb-3 col-sm-12">
                          <label class="error-message" style="color: orange;">{{ error_message }}</label><br>
                          <label class="form-label">Username: </label>
                          <label class="loginname-label" style="color: red;"></label>
                          <input type="text" class="form-control loginname" placeholder="" name="prologinname">
                        </div>
                        <div class="mb-3 col-sm-12">
                          <label class="form-label">Password: </label>
                          <label class="loginpassword-label" style="color: red;"></label>
                          <input type="Password" class="form-control loginpassword" placeholder="" name="prologinpassword">
                        </div>
                        <div class="col-sm-6 mb-3 text-md-end"><a href="{{ url_for('pro_forget_password') }}">Forget Password?</a></div>
                        <div class="col-sm-6 d-grid">
                          <button type="submit" class="btn btn-primary btn-flat" id="loginsubmitbtn">Sign in</button>
                        </div>
                        <div class="col-sm-6">
                          <ul class="list-unstyled d-flex mb-1 mt-sm-0 mt-3 justify-content-sm-end">
                            <li class="me-1">Don't have an account? <a class="text-dark" href="{{ url_for('pro_signup_verification') }}">Create Account</a></li>
                          </ul>
                        </div>
                      </form>
                      </div>
                </div>
              </div>
            </div>
          </section>
      <!--=================================
        sign in -->

<!-- Javascript -->
<!-- JS Global Compulsory (Do not remove)-->
<script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.appear.js') }}"></script>
<script src="{{ url_for('static', filename='js/popper/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap/bootstrap.min.js') }}"></script>
<!-- Page JS Implementing Plugins (Remove the plugin script here if site does not use that feature)-->

<!-- Template Scripts (Do not remove)-->
<script src="{{ url_for('static', filename='js/custom.js') }}"></script>

<!-- Login form validation -->

<script type="text/javascript">
   $(document).ready(function() {
    function login_form_validation(){
      var username_email = $(".loginname").val();
      var password = $(".loginpassword").val();

      if (username_email == '') {
        $(".loginname-label").text("Enter username or email")
        $(".loginname").focus()
        return false
      }
      else {
        $(".loginname-label").text("")
      }

      if (password == '') {
        $(".loginpassword-label").text("Enter password")
        $(".loginpassword").focus()
        return false
      }
      else {
        $(".loginpassword-label").text("")
      }
      return true
    }

    $("#loginsubmitbtn").click(function(event){
      event.preventDefault();
      if (login_form_validation()) {
        $(".login-form").submit();
      }
    })

    // hiding error msges when form is focused 
    $(".loginname").focus(function() {
      $(".error-message").hide()
    })
    $(".loginemail").focus(function() {
      $(".error-message").hide()
    })
   });  
</script>
    </body>
</html>
