{% extends 'pro_base.html' %}
{% block content %}

<center>
<section class="sign-in bg-holder vh-100" style="width: 50%;">
            <div class="container-fluid">
              <div class="">
                <div class="">
                  <div class="sign-in-content h-100">
                   <div class="section-title text-center">
                    <h2 class="primary-text">Company Email Verification</h2>
                   </div>

                      <form class="row mt-4 mb-4 mb-sm-5 align-items-center form-flat-style login-form" method="POST" action="{{ url_for('pro_signup_email_verification')}}">
                        <div class="mb-3 col-sm-12">
                          <label class="error-message" style="color: red;">{{ error_message }}</label><br>
                          <label class="form-label">Enter your Email: </label>
                          <label class="loginname-label" style="color: red;"></label>
                          <input type="email" class="form-control loginname" placeholder="" name="email" required>
                        </div>
                        <div class="col-sm-6 d-grid">
                          <button type="submit" class="btn btn-primary btn-flat" id="loginsubmitbtn">Request OTP</button>
                        </div>
                      </form>
                      </div>
                </div>
              </div>
            </div>
          </section>
      </center>

{% endblock %}