{% extends 'pro_base.html' %}
{% block content %}
<style type="text/css">
    #sidebar-list .active {
        background-color: #029094 !important;
    }
    .list-group-item-action:hover {
        background-color: #d1f7f8 !important;
    }
    .card {
        margin-bottom: 1.5rem;
        box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);
    }
    .card {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid #e5e9f2;
        border-radius: .2rem;
    }
    .card-header:first-child {
        border-radius: calc(.2rem - 1px) calc(.2rem - 1px) 0 0;
    }
    .card-header {
        border-bottom-width: 1px;
    }
    .card-header {
        padding: .75rem 1.25rem;
        margin-bottom: 0;
        color: inherit;
        background-color: #fff;
        border-bottom: 1px solid #e5e9f2;
    }
    .userbgimage {
        background-image: url('{{ url_for("static", filename="/images/backgrounds/08.png") }}');
    }
</style>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="container p-0 userbgimage">
    <h1 class="h3 mb-3">Settings</h1>
    <div class="row">
        <div class="col-md-5 col-xl-4">
           
            </div>
        </div>

<div class="col-md-7 col-xl-8">
<div class="tab-pane" id="password" role="tabpfanel">
 <div class="card">
     <div class="card-bofdy">
         <div class="col">
            <div class="row">
              <div class="col mb-3">
                <div class="card">
                  <div class="card-body">
                    <div class="e-profile">

                      <ul class="nav nav-tabs">
                        <li class="nav-item"><p class="active nav-link">Reset Password</p></li>
                      </ul>
                      <div class="tab-content pt-3">
                        <div class="tab-pane active">
                          <form class="form" method="POST" id="password-change-form" action="{{ url_for('pro_forget_password_reset') }}">
                            <div class="row" id="passwordChange-section" style="">
                              <div class="col-12 col-sm-6 mb-3">
                                <div class="mb-2"><b>Reset Password</b></div>
                                    <div class="row">
                                  <div class="col">
                                    <div class="form-group">
                                       <input class="form-control" type="text" id="email" name="email" value="{{ email }}" readonly hidden>
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col">
                                    <div class="form-group">
                                      <label style="color: black;">New Password: <span class="newPassword-label" style="color: red;"></span></label>
                                      <input class="form-control" type="password" id="newPassword" name="newPassword">
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col">
                                    <div class="form-group">
                                      <label style="color: black;">Confirm Password: <span class="confirmPassword-label"  style="color: red;"></span></label>
                                      <input class="form-control" type="password" id="confirmPassword" name="confirmPassword"></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col d-flex justify-content-end">
                                <button class="btn btn-primary" type="submit" id="passwordconfirmbtn">Confirm</button>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
</div>
</div>
</div>

{% if flash  %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert" id="msg-alert-box">
    <strong></strong> {{ flash }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" id="alert-close" onclick="closeAlert()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endif %}

<script type="text/javascript">
  $(document).ready(function() {
    function validatePassword() {
      var newPassword = $("#newPassword").val();
      var confirm_password = $("#confirmPassword").val();
      //password validation
    
        if (!/(?=.*[a-z])(?=.*[A-Z])/.test(newPassword)) {
          $(".newPassword-label").text("Password must include uppercase and lowercase characters");
          $("#newPassword").focus();
          return false;
        } else {
          $(".newPassword-label").text("");
        }

      if (newPassword != confirm_password) {
        $(".confirmPassword-label").text("Password not matching");
        $("#confirmPassword").focus();
        return false;
      } else {
        $(".confirmpassword-label").text("");
      }

      // Password is valid
      return true;
    }

    $("#passwordconfirmbtn").click(function(event) {
      // Prevent default form submission
      event.preventDefault();

      // Validate the form
      if (validatePassword()) {
        // If the form is valid, submit it
        $("#password-change-form").submit();
      }
    });
    })

      // hiding error msg of duplicate email

    $("#oldPassword").focus(function() {
      $(".error-message").hide()
    })
</script>
{% endblock %}