{% extends 'pro_base.html' %}
{% block content %}

 <section class="space-ptb">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6">
              <div class="section-title text-center">
                <div class="sub-title justify-content-center"><img  class="img-fluid" src="images/title-icon.png" alt=""><span>{{ session['prousercompany']}}</span></div>
                <h2 class="title">Your <strong>Tour Programmes</strong></h2>
                <div class="description">
                  <p>Let success motivate you. Find a picture of what epitomizes success to you and then pull it out when you are in need.</p>
                  <a href="{{ url_for('adding_tourpackages') }}" class="btn btn-primary" style="padding: 10px;">New package..</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            {% for row in tour_packages_data %}
            <div class="col-lg-4 col-md-6 mb-4 ">
              <div class="listing-item">
                <div class="listing-image bg-overlay-half-bottom">
                  <img class="img-fluid" src="{{ url_for('static', filename=row[10]) }}" alt="{{row[10]}}">
                </div>
                <div class="listing-details">
                  <div class="listing-title d-flex justify-content-between">
                    <h5 class="mb-0"><a href="{{ url_for('pro_tour_package_details', package_id=row[0]) }}" class="title mb-0">{{ row[2] }}</a></h5>
                    <div class="country-flags">
                      <!-- <img class="img-fluid shadow-sm" src="images/country-flags/01.jpg" alt="#"> -->
                    </div>
                  </div>
                  <a href="#" class="listing-loaction"> <i class="fa fa-location-dot"></i>{{row[8]}}, {{row[9]}}</a>
                  <div class="listing-rating d-flex justify-content-between">
                    <div class="d-flex">
                      <div class="date me-3">
                        <i class="fa-regular fa-calendar-days me-2"></i><span> Days {{ row[3] }} </span>
                      </div>
                      <div class="rating">
                        <i class="fa-solid fa-star me-1 text-yellow"></i><span>{{ row[4] }}</span>
                      </div>
                    </div>
                    <div class="price">
                      <span class="text-decoration-line-through">{{ row[6]|int - 200 }}</span>{{ row[6] }}
                    </div>
                  </div>
                  <div class="listing-info">
                    
                    <p class="mb-0" style="text-transform: capitalize;">{{row[7]}}</p>
                  </div>
                  <a href="{{ url_for('pro_tour_package_details', package_id=row[0]) }}" class="btn btn-link">See Details</a>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
    </section>

{% if flash %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert" id="msg-alert-box">
    <strong></strong> {{ flash }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" id="alert-close" onclick="closeAlert()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endif %}

 {% endblock %}