{% extends 'admin_base.html' %}
{% block content %}
<div class="col-lg-10" style="margin-top: 0px; margin-left: 200px;">
<!-- Button trigger modal -->


<!-- admin adding status Modal -->
<div class="modal fade" id="statusModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel" style="color: green;">Status</h5>
                <button type="button" class="" data-dismiss="modal" aria-label="">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>{{ add_status_message }}</p>
            </div>
        </div>
    </div>
</div>

<!-- admin deleting status Modal -->
<div class="modal fade" id="dltErrorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel" style="color: red;">Status</h5>
                <button type="button" class="" data-dismiss="modal" aria-label="">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>{{ dlt_status_message }}</p>
            </div>
        </div>
    </div>
</div>




    <div>
        <br><br><br>
    <form action="{{ url_for('search_admin_blog') }}" method="POST">
        <input type="text" name="search_value" placeholder="search blogs, IDs ">
        <input type="submit" name="">
    </form>
      <table  class="table table-striped" style="font-family: system-ui;">
  <thead>
    <tr>
      <th scope="col">blog ID</th>
      <th scope="col">user ID</th>
      <th scope="col">Date</th>
      <th scope="col">Heading</th>
      <th scope="col">Content</th>
      <th scope="col">Categories</th>
      <th scope="col" style="width: 15% !important;">More</th>
    </tr>
  </thead>


    <tbody>
{% for row in blogs %}
<tr>
  <th scope="row">{{ row[0] }}</th>
  <td>{{ row[1] }}</td>
  <td>{{ row[2] }}</td>
  <td><a href="{{ url_for('admin_blog_details', blog_id=row[0]) }}" style="color: blue;">{{ row[3] }}</a></td>
  <td>{{ row[4] }}</td>

<td>
  {% if row[5] == '1' %} adventure, {% endif %}
  {% if row[6] == '1' %} business, {% endif %}
  {% if row[7] == '1' %} solo, {% endif %}
  {% if row[8] == '1' %} cruise, {% endif %}
  {% if row[9] == '1' %} honey moon, {% endif %}
  {% if row[10] == '1' %} nature, {% endif %}
  {% if row[11] == '1' %} vacation {% endif %}
</td>

  
  <!-- Add unique IDs for the Remove link and its associated close button -->
  <td>
    <a style="color: blue; text-transform: capitalize;" id="deleteConfirmation_{{ row[0] }}" onclick="toggleCloseButton({{ row[0] }})" class="deleteConfirmation_">Remove</a>

    <a style="color: blue; text-transform: capitalize; display: none" id="deleteConfirmationtic_{{ row[0] }}" class="RemoveConfirmation" href="{{ url_for('admin_delete_blog', blog_id=row[0]) }}">
      <i class="fa-solid fa-circle-check" style="color: #009894; font-size: 20px;"></i>
    </a>

    <a style="color: blue; text-transform: capitalize; display: none; padding-left: 30px" id="deleteConfirmationclose_{{ row[0] }}" class="RemoveConfirmation" href="#">
      <i class="fa-solid fa-x" style="color: #000000; font-size: 15px;"></i>
    </a>
</td>
  {% endfor %}
  </tbody>
</tr>
</table>
    </div>
</div>

<!-- Fact validating  -->
<script>
$(document).ready(function() {
     {% if add_status_message %}
        $('#statusModal').modal('show');
        $('#fact_Add_Form')[0].reset();
    {% endif %}
    {% if dlt_status_message %}
        $('#dltErrorModal').modal('show');
        $('#fact_Add_Form')[0].reset();
    {% endif %}

        $(document).ready(function() {
        $(".adminRemoveConfirmation").click(function() {
            $(".adminRemoveConfirmation").hide()
            $(".deleteConfirmation_").show()
        })

        $("#adminAddPlus").hover(function() {
            $("#adminAddText").show()
        })
         $("#adminAddPlus").mouseleave(function() {
            $("#adminAddText").hide()
        })
    });
   
});
$(document).ready(function() {
     $(".RemoveConfirmation").click(function() {
            $(".RemoveConfirmation").hide()
            $(".deleteConfirmation_").show()
        })
})
</script>
{% endblock %}
