{% extends 'admin_base.html' %}
{% block content %}
<div class="col-lg-6" style="margin-top: 0px; margin-left: 200px;">
<!-- Button trigger modal -->


<!-- admin adding status Modal -->
<div class="modal fade" id="statusModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel" style="color: green;">Status</h5>
                <button type="button" class="" data-dismiss="modal" aria-label="">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>{{ add_status_message }}</p>
            </div>
        </div>
    </div>
</div>

<!-- admin deleting status Modal -->
<div class="modal fade" id="dltErrorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel" style="color: red;">Status</h5>
                <button type="button" class="" data-dismiss="modal" aria-label="">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>{{ dlt_status_message }}</p>
            </div>
        </div>
    </div>
</div>




<div>
    <br><br><br>
        <form action="{{ url_for('search_admin_package_review') }}" method="POST">
        <input type="text" name="search_value" placeholder="search reviews ">
        <input type="hidden" name="package_id" value="{{ package_id }}">
        <input type="submit" name="">
    </form>
    <br>
    

    {% if tour_packages_data %}
    <h3>Package Details</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Package ID</th>
          <th scope="col">Pro ID</th>
          <th scope="col">Tour</th>
          <th scope="col">No of days</th>
          <th scope="col">From</th>
          <th scope="col">To</th>
          <th scope="col">Price</th>
          <th scope="col">Description</th>
          <th scope="col">Country</th>
          <th scope="col">Territory</th>
      </tr>
  </thead>


  <tbody>
    {% for row in tour_packages_data %}
    <tr>
      <th scope="row">{{ row[0] }}</th>
      <td>{{ row[1] }}</td>
      <td>{{ row[2] }}</td>
      <td>{{ row[3] }}</td>
      <td>{{ row[4] }}</td>
      <td>{{ row[5] }}</td>
      <td>{{ row[6] }}</td>
      <td>{{ row[7] }}</td>
      <td>{{ row[8] }}</td>
      <td>{{ row[9] }}</td>
      {% endfor %}
  </tbody>
</table>
{% endif %}

{% if tour_packages_day %}
<h3>Day Programmes</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Day ID</th>
      <th scope="col">Package ID</th>
      <th scope="col">Pro ID</th>
      <th scope="col">Day</th>
      <th scope="col">Programme</th>
  </tr>
</thead>


<tbody>
    {% for row in tour_packages_day %}
    <tr>
      <th scope="row">{{ row[0] }}</th>
      <td>{{ row[1] }}</td>
      <td>{{ row[2] }}</td>
      <td>{{ row[3] }}</td>
      <td>{{ row[4] }}</td>
      {% endfor %}
  </tbody>
</table>

{% else %}
<!-- <h5>No Programmes found</h5> -->
{% endif %}

{% if tour_packages_image %}
<h3>Package Images</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Image ID</th>
      <th scope="col">Package ID</th>
      <th scope="col">Pro ID</th>
      <th scope="col">Image</th>
      <th scope="col">More</th>
  </tr>
</thead>


<tbody>
    {% for row in tour_packages_image %}
    <tr>
      <th scope="row">{{ row[0] }}</th>
      <td>{{ row[1] }}</td>
      <td>{{ row[2] }}</td>
      <td><img src="{{ url_for('static', filename=row[3]) }}" width="100" height="100"></td>
      <td>{{ row[4] }}</td>
        <!-- Add unique IDs for the Remove link and its associated close button -->
      <td>
        <a style="color: blue; text-transform: capitalize;" id="deleteConfirmation_{{ row[0] }}" onclick="toggleCloseButton({{ row[0] }})" class="deleteConfirmation_">Remove</a>

        <a style="color: blue; text-transform: capitalize; display: none" id="deleteConfirmationtic_{{ row[0] }}" class="RemoveConfirmation" href="{{ url_for('admin_delete_package_image', image_id=row[0], package_id=row[1]) }}">
          <i class="fa-solid fa-circle-check" style="color: #009894; font-size: 20px;"></i>
        </a>

        <a style="color: blue; text-transform: capitalize; display: none; padding-left: 30px" id="deleteConfirmationclose_{{ row[0] }}" class="RemoveConfirmation">
          <i class="fa-solid fa-x" style="color: #000000; font-size: 15px;"></i>
        </a>
    </td>
      {% endfor %}
  </tbody>
</table>

{% else %}
<!-- <h5>No Images found</h5> -->
{% endif %}

{% if package_reviews %}
<h3>Package Reviews</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Review ID</th>
      <th scope="col">user ID</th>
      <th scope="col">Package ID</th>
      <th scope="col">Review</th>
      <th scope="col">Rating</th>
      <th scope="col">More</th>
  </tr>
</thead>


<tbody>
    {% for row in package_reviews %}
    <tr>
      <th scope="row">{{ row[0] }}</th>
      <td>{{ row[1] }}</td>
      <td>{{ row[2] }}</td>
      <td>{{ row[3] }}</td>
      <td>{{ row[4] }} <i class="fa-solid fa-star" style="color: #ffc23d;"></i></td>
        <!-- Add unique IDs for the Remove link and its associated close button -->
      <td>
        <a style="color: blue; text-transform: capitalize;" id="deleteConfirmation_{{ row[0] }}" onclick="toggleCloseButton({{ row[0] }})" class="deleteConfirmation_">Remove</a>

        <a style="color: blue; text-transform: capitalize; display: none" id="deleteConfirmationtic_{{ row[0] }}" class="RemoveConfirmation" href="{{ url_for('admin_delete_package_review', review_id=row[0], package_id=row[2]) }}">
          <i class="fa-solid fa-circle-check" style="color: #009894; font-size: 20px;"></i>
        </a>

        <a style="color: blue; text-transform: capitalize; display: none; padding-left: 30px" id="deleteConfirmationclose_{{ row[0] }}" class="RemoveConfirmation">
          <i class="fa-solid fa-x" style="color: #000000; font-size: 15px;"></i>
        </a>
    </td>
      {% endfor %}
  </tbody>
</table>

{% else %}
<h5>No Reviews found</h5>
{% endif %}


</div>
</div>

<!-- Fact validating  -->
<script>
$(document).ready(function() {
     {% if add_status_message %}
        $('#statusModal').modal('show');
        $('#fact_Add_Form')[0].reset();
    {% endif %}
    {% if dlt_status_message %}
        $('#dltErrorModal').modal('show');
        $('#fact_Add_Form')[0].reset();
    {% endif %}

    $("#fact_Add_Form").submit(function(e) {
        // Prevent the form from submitting by default
        e.preventDefault();

        // Get the textarea value
        var factText = $("textarea[name='facts']").val().trim();
        var words = factText.split(/\s+/).filter(function(word) {
            return word.length > 0;
        });

        // Perform validation
        if (words.length < 20) {
            $("#nameError").text("The fact should contain at least 20 words.");
        } else if (words.length > 150) {
            $("#nameError").text("The fact should not exceed 150 words.");
        } else {
           // Clear any previous error messages
            $("#nameError").text("");
            // Submit the form if validation passes
            $(this).unbind("submit").submit();
            
            // Clear the form after successful submission
            $(this)[0].reset();
        }
    });
   
});
$(document).ready(function() {
     $(".RemoveConfirmation").click(function() {
            $(".RemoveConfirmation").hide()
            $(".deleteConfirmation_").show()
        })
})
</script>
{% endblock %}
