{% extends 'base.html' %}
{% block content %}

 <!--=================================
  Blog -->

<style type="text/css">
  .cbs-1-a {
  background: white !important;
    border: 2px solid !important;
    padding: 5px !important;
    border-radius: 20px !important;
}

.cbs-1-a:hover {
  padding: 7px !important;
}
</style>


  <section class="space-ptb">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="create-blog-section">
            <div class="cbs-1">
              {% if 'userid' in session %}
              <div>
                <a class="cbs-1-a" href="{{ url_for('blog_upload') }}">Create your blog</a>
                <a class="cbs-1-a" href="{{ url_for('blog_home') }}">Blog home</a>
              </div>
              
              {% else %}
              <a class="cbs-1-a" href="{{ url_for('login') }}">Login to Create your blog</a>
              {% endif %}
            </div>
          </div>
          {% for row in blog_data %}
          <div class="box-shadow border-radius p-3 mb-4 mb-sm-5" id="blog_data_div">
              <div class="blog">
                  <div class="blog-img">
                      <img class="img-fluid rounded" src="{{ row[7] }}" alt="#"
                          style="width: 100%; height: 400px; object-fit: fill;">
                  </div>
                  <div class="blog-body d-flex flex-wrap align-items-center">
                      <div class="time-card me-3 d-flex align-items-center">
                          <img class="img-fluid rounded me-2"
                              src="{{ url_for('static', filename='images/on-time.svg')}}" alt="#">
                          <span>{{row[1]}} By</span>
                      </div>
                      <div class="user d-flex align-items-center me-3">
                          <div class="user-img me-2"><img class="img-fluid" src="{{row[4]}}" alt="#"></div>
                          <span style="text-transform: capitalize;">{{row[5]}}</span>
                      </div>
                      <div class="comment d-flex align-items-center">
                          <i class="fa-regular fa-comment me-2"></i>
                          {{ row[8] }}
                      </div>
                  </div>
                  <a class="title" href="{{ url_for('edit_blog', blog_id = row[0] )}}">{{row[2]}}</a>
                  <p class="mt-3">{{row[3]}} ...............</a></p>
                  <p class="mt-3" style="text-transform: capitalize;">{{row[6]}}</p>
              </div>
          </div>

          <!-- Check if this is the appropriate position to insert facts -->
          {% if loop.index == 2 %} <!-- You can adjust the position as needed -->
          <div class="box-shadow border-radius p-3 mb-4 mb-sm-5">
              <div class="blog">
                  <div class="blog-img">
                      <!-- You can add an image for the facts section if needed -->
                  </div>
                  <div class="blog-body d-flex flex-wrap align-items-center">
                      <!-- Additional code for user, time, and comment here -->
                  </div>
                  <a class="title mt-0" style="color: #3dd1d5 !important">RANDOM FACTS!!</a>
                  <p class="mt-3 mb-0 text-white">
                    {% for fact in facts %}
                        <li style="list-style: none;">"{{ fact[2] }}"</li>
                    {% endfor %}
                  </p>
              </div>
          </div>
          {% endif %}
          {% endfor %}

           <!-- Search Finding Error -->
          {% if search_error %}
                    <div class="box-shadow border-radius p-3 mb-4 mb-sm-5">
              <div class="blog">
                  <div class="blog-img">
                      <!-- You can add an image for the facts section if needed -->
                  </div>
                  <div class="blog-body d-flex flex-wrap align-items-center">
                      <!-- Additional code for user, time, and comment here -->
                  </div>
                  <a class="title mt-0" style="color: #3dd1d5 !important">{{ search_error }}</a>
                  <p class="mt-3 mb-0 text-white">
                    
                        <li style="list-style: none;"></li>
                    
                  </p>
              </div>
          </div>
          {%endif%}

          <!-- Facts  -->
          {% if facts2 %}
          <div class="box-shadow border-radius p-3 mb-4 mb-sm-5">
              <div class="blog">
                  <div class="blog-img">
                      <!-- You can add an image for the facts section if needed -->
                  </div>
                  <div class="blog-body d-flex flex-wrap align-items-center">
                      <!-- Additional code for user, time, and comment here -->
                  </div>
                  <a class="title mt-0" style="color: #3dd1d5 !important">RANDOM FACTS!!</a>
                  <p class="mt-3 mb-0 text-white">
                    {% for fact2 in facts2 %}
                        <li style="list-style: none;">"{{ fact2[2] }}"</li>
                    {% endfor %}
                  </p>
              </div>
          </div>
          {% endif %}


          <div class="row">
            <div class="col-12 text-center mt-4 mt-sm-5">
              <nav>
                <ul class="pagination justify-content-center mb-0">
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">«</span>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <li class="page-item active"><span class="page-link">1<span class="sr-only">(current)</span></span></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">4</a></li>
                  <li class="page-item"><a class="page-link" href="#">5</a></li>
                  <li class="page-item"><a class="page-link" href="#">6</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span><span class="sr-only">Next</span></a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>

        <div class="col-lg-4 mt-5 mt-lg-0">
          <div class="sidebar">
            <div class="widget">
              <div class="widget-title">
                <h5 class="fw-600">Search</h5>
              </div>
              <div class="search">
                <form action="{{ url_for('blog_search') }}" method="POST" style="display: flex; align-items: center;" name="blog_search_form" id="blog_search_form">
                    <!-- <i class="fas fa-search" style="margin-right: 10px;"></i> -->
                    <input type="text" class="form-control" placeholder="Search" style="flex: 1;border-bottom-right-radius: 0px !important;
                    border-top-right-radius: 0px !important;" name="blog_search_content">
                    <button type="submit" class="btn btn-primary" style="height: 50px;border-bottom-left-radius: 0px !important;
                    border-top-left-radius: 0px !important;"><i class="fas fa-search" style="width: 80px"></i></button>
                </form>
              </div>
            </div>
            <div class="widget">
              <div class="widget-title">
                <h5 class="widget-title fw-600">Recent Post</h5>
              </div>
              {% for row in latest_blog %}
              <div class="blog blog-style-2 d-flex align-items-center mb-4">
                <div class="blog-img me-3">
                  <img  class="img-fluid" src="{{ row[3] }}" alt="#">
                </div>
                <div class="blog-body pt-0">
                  <div class="time-card me-3 d-flex align-items-center">
                    <img class="img-fluid rounded me-2" src="{{ url_for('static', filename='images/on-time.svg')}}" alt="#">
                    <span>{{ row[2] }}</span>
                  </div>
                  <a href="{{ url_for('blog_single', blog_id=row[0]) }}">{{ row[1] }}</a>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--=================================
  Blog -->

{% endblock %}
