{% extends 'base.html' %}
{% block content %}

<style type="text/css">
	.bgWhite{
  background:white;
  box-shadow:0px 3px 6px 0px #cacaca;
}

.title{
  font-weight:600;
  margin-top:20px;
  font-size:24px
}

.customBtn{
  border-radius:0px;
  padding:10px;
}

form input{
  display:inline-block;
  width:50px;
  height:50px;
  text-align:center;
}
</style>
<style>
.error {
    border: 2px solid red;
}
</style>
      <!-- OTP -->
      <div class="container">
	  <div class="row justify-content-md-center">
	      <div class="col-md-4 text-center">
	        <div class="row">
	        	<h5 id="otp_error"></h5>
	          <div class="col-sm-12 mt-5 bgWhite">

	            <div class="title">
	              Verify OTP 
	            </div>
	            
	            <form action="{{ url_for('forget_password_otp_verification') }}" class="mt-5" id="otp_form" method="POST">
	            	<label class="error-message" style="color: #3dd1d5;">We send a OTP to {{ email }}</label><br>
	            	<label class="error-message" style="color: red;">{{ error_message }}</label><br>
	              <input class="otp" type="text" oninput='digitValidate(this)' onkeyup='tabChange(1)' maxlength=1 name="n1" id="n1">
	              <input class="otp" type="text" oninput='digitValidate(this)' onkeyup='tabChange(2)' maxlength=1 name="n2" id="n2">
	              <input class="otp" type="text" oninput='digitValidate(this)' onkeyup='tabChange(3)' maxlength=1 name="n3" id="n3">
	              <input class="otp" type="text" oninput='digitValidate(this)'onkeyup='tabChange(4)' maxlength=1 name="n4" id="n4">
	              <input type="text" name="email" value="{{ email }}" hidden readonly>
	            <hr class="mt-4">
	            <input type="submit" class='btn btn-primary btn-block mt-4 mb-4 customBtn' value="Verify" id="otp_veri_btn">
	            </form>
	          </div>
	        </div>
	      </div>
	  </div>
	</div>
	<br><br>

<script type="text/javascript">
	let digitValidate = function(ele){
		console.log(ele.value);
		ele.value = ele.value.replace(/[^0-9]/g,'');
	}

	let tabChange = function(val){
		let ele = document.querySelectorAll('input');
		if(ele[val-1].value != ''){
			ele[val].focus()
		}else if(ele[val-1].value == ''){
			ele[val-2].focus()
		}   
	}
</script>
<script type="text/javascript">
	$(document).ready(function() {
    $('#otp_form').submit(function(event) {
        var isValid = true;
        $('.otp').each(function() {
            if ($(this).val().trim() == '') {
                $(this).addClass('error');
                isValid = false;
            } else {
                $(this).removeClass('error');
            }
        });

        if (!isValid) {
            event.preventDefault();
        }
    });
});
</script>
<script>
function digitValidate(input) {
    input.value = input.value.replace(/\D/g, ''); // Allow only digits
}

function tabChange(nextInput) {
    if (nextInput > 4) return; // Limit to 4 inputs
    
    const inputs = document.querySelectorAll('.otp');
    if (inputs[nextInput - 1].value !== '') {
        inputs[nextInput].focus(); // Move to the next input
    }
}
</script>
{% endblock %}