{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="./static/js/main.js"></script>
<html>
<head>
</head>

<style type="text/css">
	.main-img {
		display: flex;
		justify-content: center;
		width: 100%;
		align-items: center;
		margin-bottom: 60px;
	}
	#related_search_a {

	}
</style>
<body>
        
        <div class="row container">
        	<h6>Related Searches:</h6>
        	{% for search in related_searches %}
        	<div class="col-lg-2">
            <a id="related_search_a" class="searchLink" href="#"  data-label="{{ search }}">{{ search }}</a>
            </div>
            {% endfor %}
    	</div>
    	<br><br>

<div class="container row main-img">
	<div class="col-lg-6 col-md-6" style="display: flex;
    flex-direction: row-reverse;">
		<div><img src="{{ img }}" alt="Uploaded Image" width="300" height="300" style="object-fit: fill; border-radius: 10px"></div>
	</div>
	<div class="col-lg-6 col-md-6 sub-img">
		<div><h4>{{ place_name }}</h4></div>
		<div><h4>{{ image_loaction_address }}</h4></div>
		<div><p>{{ image_lat_lon }}</p></div>
		<div><p>{{ msg2 }}</p></div>
	</div>
</div>

<center><h4>More About {{ place_name }} </h4></center><br><br>
<div class="container">
	<div class="row">
		{% for image in images %}
		<div class="col-lg-3 col-md-3">
			 <a class="searchLink" href="#"  data-label="{{ image.label }}">{{ image.label }}</a>
			<img src="{{ image.src }}" alt="" height="360" width="640" style="    width: 100%;
				    height: 70%;
				    object-fit: contain;">
		</div>
		{% endfor %}
	</div>
</div>
</body>
</html>

<script type="text/javascript">
document.addEventListener('DOMContentLoaded', function() {
    var searchLinks = document.getElementsByClassName('searchLink');
    for (var i = 0; i < searchLinks.length; i++) {
        searchLinks[i].addEventListener('click', function(event) {
            event.preventDefault(); // Prevent default link behavior

            var searchValue = this.getAttribute('data-label'); // Get the value from data-label attribute
            var googleSearchUrl = 'https://www.google.com/search?q=' + encodeURIComponent(searchValue);

            // Redirect to Google search
            window.location.href = googleSearchUrl;
        });
    }
});

</script>

{% endblock %}