{% extends 'base.html' %}
{% block content %}

<style type="text/css">
  .search-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .search-div button {
    border: 0;
    padding: 12px;
    margin-left: 10px;
    border-radius: 6px;
    background: whitesmoke;
    border-color: black;
  }
</style>
 <section class="space-ptb">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-title text-center">
                  <h2 class="title"><strong>Tour Programmes</strong></h2>
                </div>
                <div class="widget">
                  <div class="search">
                    <form action="{{ url_for('user_package_searching') }}" method="POST">
                      <div class="search-div">
                          <div>
                             <input type="text" class="form-control" placeholder="Search Tours, Packages . . . ." style="border-color: black;" name="search_value" required>
                          </div>
                          <div>
                            <button type="submit" name="" ><i class="fas fa-search"></i></button>
                          </div> 
                        </div>                     
                    </form>
                  </div>
                </div>
            </div>
          </div>
          <br>
          <div class="row">
            {% for row in tour_packages_data %}
            <div class="col-lg-4 col-md-6 mb-4 ">
              <div class="listing-item">
                <div class="listing-image bg-overlay-half-bottom">
                  <img class="img-fluid" src="{{url_for('static', filename=row[10])}}" alt="{{row[10]}}" style="width: 100%; height: 250px;">
                  <!-- <div class="listing-favourite">
                    <i class="fa-regular fa-heart"></i>
                  </div> -->
                </div>
                <div class="listing-details">
                  <div class="listing-title d-flex justify-content-between">
                    
                    {% if row[4] <= session['todate'] %}
                    <h5 class="mb-0">{{ row[2] }} </h5> <span style="color: red;">(Booking finished..!)</span>
                    
                    {% else %}
                    <h5 class="mb-0"><a href="{{ url_for('tour_package_details', package_id=row[0]) }}" class="title mb-0">{{ row[2] }}</a></h5>
                    {% endif %}

                    <div class="country-flags">
                      <!-- <img class="img-fluid shadow-sm" src="images/country-flags/01.jpg" alt="#"> -->
                    </div>
                  </div>
                  <a href="#" class="listing-loaction"> <i class="fa fa-location-dot"></i>{{row[8]}}, {{row[9]}}</a>
                  <div class="listing-rating d-flex justify-content-between">
                    <div class="d-flex">
                      <div class="date me-3">
                        <i class="fa-regular fa-calendar-days me-2"></i><span> Days {{ row[3] }} </span>
                      </div>
                      <div class="rating">
                        <i class="fa-solid fa-star me-1 text-yellow"></i><span>
                          {% if rating_true == True %}
                            {{ row[11]|round(1) }}
                          {% else %}
                            {{row[11]|int/5}}</span>
                          {% endif %}
                      </div>
                    </div>
                    <div class="price">
                      <span class="text-decoration-line-through">{{ row[6]|int - 200 }}</span>{{ row[6] }}
                    </div>
                  </div>
                  <div class="listing-info">
                    
                    <p class="mb-0" style="text-transform: capitalize;">{{row[7]}}</p>
                  </div>
                  {% if row[4] <= session['todate'] %}
                    <p class="btn btn-link">See Details</a>
                  {% else %}
                    <a href="{{ url_for('tour_package_details', package_id=row[0]) }}" class="btn btn-link">See Details</a>
                  {% endif %}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
    </section>



 {% endblock %}